# =========================
# Angular
# =========================
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
/.ng/
.angular-cli.json
*.tsbuildinfo

# =========================
# Node
# =========================
/node_modules/
/package-lock.json
/yarn.lock

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# =========================
# .NET
# =========================
bin/
obj/
.vscode/
.idea/

*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# EF Core / SQLite
# =========================
*.db
*.db-shm
*.db-wal

# =========================
# Config / Secrets
# =========================
.env
secrets.json
appsettings.Development.json

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db